<html>
  <head>
      <title>THIS IS A LINK M8TY!</title>
  </head>

  <body style="background:#2edb2b;color:#2ba0db;">

      <h1>
        WHAT U SHOULD DO IS TYPE UR EMAIL IN THE TEXT BOX THEN CLICK THE BUTTON
      </h1>
      <input type="text" id="input">
      <button type="button" id="dabutton">CLICK THIS BUTTON AFTER TYPING AN EMAIL OR ELSE U WILL GET MALWARE BYTES!</button>

      <script type="text/javascript">
        function travel_to_email_link(){
         var inputValue = document.getElementById("input").value;
         //var base_url = "http://127.0.0.1:33507"; //Local version
         var base_url = "http://testapp-may-2019.herokuapp.com/"; // Cloud version
         window.location.replace(base_url + "/send_to/"+inputValue);
           }
        document.getElementById("dabutton").addEventListener("click", travel_to_email_link);
         
      </script>
  </body>
</html>